/* *{
    margin: 0;
    box-sizing: border-box;
} */
body{
    /* background-color: aqua; */
    /* background-image: url(./assets/bg-register.jpg); */
    /* background-image: url(./assets/login-bg.jpg); */
    object-fit: contain;
    background-size: cover;
}
.registers{
    object-fit: contain;
    background-size: cover;
    height: 100%;
    /* width: 175vh; */
}


h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.registers form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40vh;
    /* height: 69vh; */
    /* background-color: aquamarine; */
    /* border: 1px solid black; */
    padding: 20px;
}
form img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 150px;
    background-color: red;
    margin-bottom: 30px;
}
input[type=submit]{
    width: 40vh;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-left: 30px;
    margin-top: 50px;
    border: 1px solid black;
}

label{
    width: 100%;
    display: inline-block;
    text-align: left;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
    margin-left: 80px;
    position: relative;
    bottom: 20px;

}
select{
    /* background-color: red; */
    background: transparent;
    border: 1px solid white;
    /* border: none; */
    margin-left: 40px;
    width: 10vh;
}
input:focus{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.registers a{
    text-decoration: none;
    color: blue;
}
.registers h4{
    font-family: sans-serif;
}


